//Work Sans Font
%WS-light {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

%WS-regular {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

%WS-bold {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

%WS-ebold {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}